<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../cdn.ejs')%>
</head>
<body>
     <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-3">

            <div class="col-lg-2 col-md-4 col-12 p-3 text-center" style="background-color: #191928;">
                <h3 class="text-warning fw-bold mb-4">Restoran</h3>
                 
                <a href="/admin/service" class="nav-link text-light fw-bold">Services</a>
                <a href=""></a>
            </div>

            <div class="col-lg-10 col-md-8 col-12" style="background-color: #191928;border-left: 10px solid white;">
                   
            </div>

        </div>
     </div>
</body>
</html>