<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <%- include('../cdn.ejs')%>
</head>
<body>
    <div class="row m-0 p-0 d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-4 col-10 px-5 py-3" style="background-color: #191928;">

            <h4 class="text-center text-warning fw-bold my-3">OTP Verification</h4>
            
            <form action="/verifyotp" method="post">
                <div class="form-group my-3 text-light">
                    <label for="">Enter OTP</label>
                    <input type="text" name="user_otp" class="form-control" required>
                </div>
                <a href="/resend"><b>Resend OTP</b></a>
                <div class="form-group my-4 text-center">
                    <button class="btn btn-warning text-light">Verify OTP</button>
                </div>
            </form>

        </div>
   </div>
</body>
</html>